/* .navbar {
    position: fixed;
    bottom: 870px;
    height: 80px;
    width: 100%;
  } */
  body {
    background-color: #778899;
    background-image: linear-gradient(135deg, rgb(246, 137, 24) 0%, rgb(246, 137, 24) 31%,rgb(174, 62, 159) 31%, rgb(174, 62, 159) 42%,rgb(210, 100, 92) 42%, rgb(210, 100, 92) 49%,rgb(138, 25, 227) 49%, rgb(138, 25, 227) 100%);
  }
  .hero.is-fullheight .hero-body, .hero.is-fullheight-with-navbar .hero-body, .hero.is-halfheight .hero-body {
    background-color: #F0F8FF;
    background-image: linear-gradient(135deg, rgb(246, 137, 24) 0%, rgb(246, 137, 24) 31%,rgb(174, 62, 159) 31%, rgb(174, 62, 159) 42%,rgb(210, 100, 92) 42%, rgb(210, 100, 92) 49%,rgb(138, 25, 227) 49%, rgb(138, 25, 227) 100%);
  }
  /* .footer {
    position: initial;
    padding-bottom: 25px;
    background-color: #ADD8E6;
  } */

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ADD8E6;
    background-image: linear-gradient(135deg, rgb(191, 152, 26) 0%,rgb(216, 90, 24) 100%);
    padding-bottom: 25px;
    text-align: center;
  }

  /* Style the navbar */
.navbar {
  bottom: 1050px;
  overflow: hidden;
  background-color: #ADD8E6;
  background-image: linear-gradient(135deg, rgb(191, 152, 26) 0%,rgb(216, 90, 24) 100%);
  height: 80px;
  width: 100%;
}

/* Navbar links */
.navbar a {
  float: left;
  /* display: block; */
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}